@import 'tailwindcss';

@theme {
  --font-sans: Switzer, system-ui, sans-serif;

  --radius-4xl: 2rem;
}

@keyframes move-x {
  0% {
    transform: translateX(var(--move-x-from));
  }
  100% {
    transform: translateX(var(--move-x-to));
  }
}

@keyframes slide-in {
  from { transform: translateY(100px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

.animate-slide-in {
  animation: slide-in 0.5s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}
